**/.DS_Store
.DS_Store
/*.iml
/*.log
/.cache/*
/.idea/
/build/
/certs/*
/logs/*
/gabagool/
/grout
/grout.log
/resources/fonts
/config.*
/.env
/*-config.yml

/config-platformless.json
/config-huge.json
/.tmp/
