# OS
.DS_Store

# IDE
.idea/
*.iml

# Build
build64/
build32/
build/
buildx86/
dist/
*.log
build-miyoo/
grout
app/app
es_restart_request
/save-sync-preview

# Local config
.env
config.json
!scripts/**/config.json
config-*.json

# Cache & temp
.cache/
.tmp/
logs/

# Go workspace (local dev)
go.work
go.work.sum

# i18n workflow
translations_todo/

# python cache
__pycache__/
.venv

# MkDocs build output
site/

/save_slots.json
/create-conflict
/input_mapping.json
/gamelist.xml
